body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3498db;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #2c3e50;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ecf0f1;
}

p {
    color: #bdc3c7;
}

.server-button {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
}

.server-button:hover {
    background-color: #c0392b;
}
.contact-button {
    background-color: #27ae60; /* Set button background color to green */
    color: #fff; /* Set button text color to white */
    padding: 10px 20px;
    border: none;
    border-radius: 15px; /* Set border radius for rounded corners */
    cursor: pointer;
    position: absolute;
    bottom: 10px; /* Position at the bottom */
    left: 10px; /* Position at the left */
    text-decoration: none; /* Remove underline for the link */
}

.contact-button:hover {
    background-color: #219150; /* Change button color on hover */
}
.register-button {
    background-color: #e74c3c; /* Set button background color to red */
    color: #fff; /* Set button text color to white */
    padding: 10px 20px;
    border: none;
    border-radius: 15px; /* Set border radius for rounded corners */
    cursor: pointer;
    position: absolute;
    bottom: 10px; /* Position at the bottom */
    right: 10px; /* Position at the right */
    text-decoration: none; /* Remove underline for the link */
}

.register-button:hover {
    background-color: #c0392b;
}
