<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Minecraft Server</title>
</head>
<body>
    <div class="container">
        <h1>Velkommen til fantastisk minecraft server</h1>
        <p>Hvis du er her er du som meg, du har ikke et liv, så her er minecraft server.</p>
        <p>Server IP: <span id="serverIP">10.0.0.64</span></p>
        <a href="/server" class="server-button">Server</a>
        <a href="/map" class="server-button">DynMap</a>
        <a href="/contact" class="contact-button">Contact</a>

        <audio id="backgroundAudio" autoplay loop muted>
            <source src="headswillroll.mp3" type="audio/mp3">
            Your browser does not support the audio element.
        </audio>
    </div>

    <script>

        document.body.addEventListener('click', function() {
            document.getElementById('backgroundAudio').muted = false;
        });


        window.addEventListener('beforeunload', function () {
            document.getElementById('backgroundAudio').pause();
        });
    </script>
</body>
</html>
