<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Minecraft Server</title>
</head>
<body>
    <div class="top-text-container">
        <h1 class="large-text">VELKOMMEN TIL FANTASTISK MINECRAFT SERVER</h1>
        <p>HVIS DU ER HER ER DU SOM MEG, DU HAR IKKE ET LIV, OG MED DEN INFORMATION HER ER EN MINECRAFT SERVER.</p>
        <p>SERVER IP: <span id="serverIP">MC-NICHO.IT1.IKTIM.NO</span></p>
    </div>

    <div class="buttons-container">
        <a href="/map" class="dynmap-button">
            <div class="button" id="button1" onmouseover="enlargeButton(1)" onmouseout="shrinkButton(1)">
                <img src="{{ url_for('static', filename='dynmap.png') }}" alt="DynMap Example Image">
            </div>
        </a>

        <a href="/contact" class="discord-button">
            <div class="button" id="button2" onmouseover="enlargeButton(2)" onmouseout="shrinkButton(2)">
                <img src="{{ url_for('static', filename='discord.png') }}" alt="Discord Example Image">
            </div>
        </a>

        <!-- Updated button for /jesus -->
        <a href="/jesus" class="jesus-button">
            <div class="button" id="button3" onmouseover="enlargeButton(3)" onmouseout="shrinkButton(3)">
                <img src="{{ url_for('static', filename='jesus.png') }}" alt="Jesus Example Image">
            </div>
        </a>
    </div>

    <audio id="backgroundAudio" loop>
        <source src="{{ url_for('static', filename='headswillroll.ogg') }}" type="audio/mp3">
        <source src="{{ url_for('static', filename='headswillroll.mp3') }}" type="audio/mp3">
    </audio>

    <div class="music-controls">
        <button onclick="pauseAudio()" class="pause-button">
            <img src="{{ url_for('static', filename='pause.png') }}" alt="Pause Icon">
        </button>
        <button onclick="resumeAudio()" class="resume-button">
            <img src="{{ url_for('static', filename='resume.png') }}" alt="Resume Icon">
        </button>
    </div>

    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        });

        window.addEventListener('beforeunload', function () {
            document.getElementById('backgroundAudio').pause();
        });

        function pauseAudio() {
            document.getElementById('backgroundAudio').pause();
        }

        function resumeAudio() {
            document.getElementById('backgroundAudio').play();
        }
    </script>
</body>
</html>
