<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Minecraft Server</title>
</head>
<body>
   <div class="container">
        <h1>Welcome to the Minecraft Server</h1>
        <p>This is the home page.</p>
        <p>Server IP: <span id="serverIP">1.0.0.150</span></p>
        <a href="/server" class="server-button">Server</a>
        <a href="/register" class="server-button">Register</a>
        <a href="/contact" class="contact-button">Contact</a>
    </div>
</body>
</html>
